.Project-img{

    width: 360px;
    height: 250px;
    padding: 10px 0px;
}
.container-games{
    padding: 0.01em 26px;
}
h3{
    padding: 40px 0px;
}
.top-left {
    position: absolute;
    top: 9px;
    left: 15px;
    border: 1px solid black;
    color: whitesmoke;
    background-color: black;
    font-size: 18px;
    padding: 5px;
  }
